.tabs {
  display: flex;
  list-style: none;
  gap: 1em;
  padding: 0;
  margin-bottom: 10px;
}

.tabButton {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #a0a1a5;
  cursor: pointer;
}

.activeTab {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #2aa7dc;
  text-decoration: underline;
  cursor: pointer;
}